html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#route {
  position: fixed;
  bottom: 60px;
  left: 60px;
  width: 200px;
}

#new-route-btn {
  position: fixed;
  bottom: 60px;
  left: 270px;
}
